doctype html
html(lang='en')
    head
        title Flashcards
    body
        header#header
            h1 The future home of something magical!
        section#content
            h2= prompt
            p
                i Hint: #{hint}
        footer#footer
            p An app to help you study express!