doctype html
html(lang='en')
    head
        title Landing Page
    body
        h1 The future home of something magical!
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In lacinia metus nec urna dictum, vitae maximus dolor malesuada. Pellentesque aliquam lorem ornare ante mollis, eget viverra purus dictum. Etiam vitae scelerisque risus, eu imperdiet felis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum et mauris ac mauris dictum placerat eu vel purus. Aenean egestas enim felis, quis volutpat lacus aliquam ac. Cras elit dui, tempus non placerat nec, scelerisque blandit quam. Mauris tempor odio at orci pellentesque, non laoreet turpis tincidunt. Proin gravida elementum tincidunt. Curabitur in lectus et eros vulputate porttitor. In hac habitasse platea dictumst. Quisque vel purus ullamcorper, placerat nunc vel, feugiat turpis. Praesent mattis porta orci, quis rhoncus risus facilisis quis. Aliquam nec porta nisi. In mollis magna et sapien consequat, eu feugiat lectus viverra. Cras quis faucibus orci.
        figure.figure
            img.figure__image(src='http://lorempixel.com/400/200', alt='test')