extends layout.pug

block content
    section#content
        table
            thead
                tr
                    th Firstname
                    th Lastname
            tbody 
                each val in friends
                    tr
                        td= val[0]
                        td= val[1]